<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.practicevue.mapper.AttributeMapper">
  <resultMap id="BaseResultMap" type="com.example.practicevue.entity.Attribute">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="attr_id" jdbcType="SMALLINT" property="attrId" />
    <result column="add_price" jdbcType="DECIMAL" property="addPrice" />
    <result column="attr_value" jdbcType="LONGVARCHAR" property="attrValue" />
  </resultMap>
</mapper>