<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.practicevue.mapper.AttributeMapper">
  <resultMap id="BaseResultMap" type="com.example.practicevue.entity.Attribute">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="attr_id" jdbcType="SMALLINT" property="attrId" />
    <result column="add_price" jdbcType="DECIMAL" property="addPrice" />
    <result column="attr_value" jdbcType="LONGVARCHAR" property="attrValue" />
  </resultMap>

  <resultMap id="AttributeDTOMap" type="com.example.practicevue.model.AttributeDTO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="attr_id" jdbcType="SMALLINT" property="attrId" />
    <result column="attr_value" jdbcType="LONGVARCHAR" property="attrValue" />
  </resultMap>

  <insert id="batchInsert" parameterType="List">
    insert into sp_attribute (goods_id, attr_id, attr_value) values
    <foreach collection="list" separator="," item="i">
      (#{i.goodsId}, #{i.attrId}, #{i.attrValue})
    </foreach>
  </insert>

  <update id="batchUpdate" parameterType="List">
    <foreach collection="list" item="i" separator=";">
      update sp_attribute set attr_value = #{i.attrValue} where goods_id = #{i.goodsId} and attr_id = #{i.attrId}
    </foreach>
  </update>
</mapper>