<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.practicevue.mapper.GoodsAttrMapper">
  <resultMap id="BaseResultMap" type="com.example.practicevue.entity.GoodsAttr">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cat_id" jdbcType="INTEGER" property="catId" />
    <result column="sel" jdbcType="CHAR" property="sel" />
    <result column="write" jdbcType="CHAR" property="write" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="vals" jdbcType="LONGVARCHAR" property="vals" />
  </resultMap>



</mapper>