<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.practicevue.mapper.GoodsPicsMapper">
    <resultMap id="BaseResultMap" type="com.example.practicevue.entity.GoodsPics">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="big" jdbcType="CHAR" property="big"/>
        <result column="mid" jdbcType="CHAR" property="mid"/>
        <result column="small" jdbcType="CHAR" property="small"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
    </resultMap>

    <insert id="batchInsert" parameterType="list">
        insert into sp_goods_pics (id, goods_id)
        values
        <foreach collection="list" item="pics" separator=",">
            (#{pics.id},#{pics.goodsId})
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="i" separator=";">
            update sp_goods_pics set
            where id = #{i.id}
        </foreach>
    </update>
</mapper>