<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.practicevue.mapper.ReportThreeMapper">
  <resultMap id="BaseResultMap" type="com.example.practicevue.entity.ReportThree">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rp3_src" jdbcType="VARCHAR" property="rp3Src" />
    <result column="rp3_count" jdbcType="INTEGER" property="rp3Count" />
    <result column="rp3_date" jdbcType="TIMESTAMP" property="rp3Date" />
  </resultMap>
</mapper>